<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.blog.dao.HUserMapper">
    <resultMap id="BaseResultMap" type="com.ht.blog.entity.HUser">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="CHAR" property="password"/>
        <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="token" jdbcType="VARCHAR" property="token"/>
        <result column="expired_at" jdbcType="INTEGER" property="expiredAt"/>
        <result column="created_at" jdbcType="INTEGER" property="createdAt"/>
        <result column="updated_at" jdbcType="INTEGER" property="updatedAt"/>
    </resultMap>
    <insert id="insert" parameterType="com.ht.blog.entity.HUser">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into h_user (username, `password`, nickname, avatar_url, email, created_at
        )
        values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=CHAR}, #{nickname,jdbcType=VARCHAR},
        #{avatarUrl,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{createdAt,jdbcType=INTEGER}
        )
    </insert>

    <select id="selectAll" resultMap="BaseResultMap">
    select id, username, `password`, token, expired_at, created_at, updated_at
    from h_user
    </select>

    <select id="selectOne" resultMap="BaseResultMap">
    select id, username, nickname, avatar_url, token, expired_at, created_at, updated_at
    from h_user where username = #{username,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR}
    </select>

    <select id="selectByUsername" resultMap="BaseResultMap">
        select id, username, nickname, avatar_url
        from h_user where username = #{username,jdbcType=VARCHAR} limit 1
    </select>

    <select id="selectByToken" resultMap="BaseResultMap">
        select id, username, nickname, avatar_url, token, expired_at
        from h_user where token = #{token,jdbcType=VARCHAR} limit 1
    </select>

    <update id="updateToken">
        update h_user
            set token = #{token},
                expired_at = #{expiredAt}
            where id = #{id}
    </update>
</mapper>